
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">About US</div>
    <div class="panel-body">
        <div class="col-md-8">
           <p>Spark is a full service event management firm based in Calgary, Alberta that was created by pairing together our passion for business and events.

            We bring a fresh, unique approach to the event management industry. We are not party planners. We are strategic event management partners. We understand that a properly executed event can be leveraged to support an organization’s strategic vision, incorporated into a company’s marketing plan, or used to build networks and client loyalty.

            We approach every project with meticulous attention to detail and obsessive precision. Regardless of size and scope, we treat your event like a business with clear strategic goals, defined milestones, and a comprehensive plan to ensure that your event is delivered on time and on budget. At Spark, we put your organization first. We learn about your business, we focus on your challenges, and we plan events to support your goals.

            Laser sharp focus, unparalleled professionalism and exceptional service means clients can trust that their event is in capable hands.

            CLIENTS</p>
            <p>
            Our clients include not for profit organizations, corporate clients, regulating bodies and member associations. Each of these organizations has a unique set of business goals and challenges, and has chosen Spark because we understand the business of running events.</p>
        </div>
        <div class="col-md-offset-8">
            <img src="~/Image/about.jpg" style="float:right;height:300px; width:300px"/>
        </div>
    </div>
</div>

