
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    <div class="row">
        <div class="col-md-4">


            <center><img src="~/Image/wedding.jpg" class="img-responsive size"></center>
            <h3 class="header">Basundhara Convention Center </h3>
            <p class="text-center">
                This center stated in Dhanmondi. The no of guest capacity 500. 
                <br />
                <b class="header1">Booking for:</b></br>
                Basundhara Convention Center
            </p>
            <center><a href="#" class="btn btn-info btn-lg text-center">More Details</a></center></p>
        </div>


        <div class="col-md-4">
            <center><img src="~/Image/con1.jpg" class="img-responsive size"></center>
            <h3 class="header">Sayediana</h3>
            <p class="text-center">
                This center stated in Mirpur . The no of guest capacity 500. </br>
                <b class="header1">Booking for:</b></br>
                Sayediana
            </p>
            <center><a href="#" class="btn btn-info btn-lg text-center">More Details</a></center></p>
        </div>
        <div class=" col-md-4">
            <center><img src="~/Image/con2.jpg" class="img-responsive size"></center>
            <h3 class="header">JAmuna Future Prk Center</h3>
            <p class="text-center">
                This center stated in GUlshan. The no of guest capacity 500. <br />
                <b class="header1">Booking for:</b></br>
               Jamuna Future Park
            </p>
            <center><a href="#" class="btn btn-info btn-lg text-center">More Details</a></center></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">


            <center><img src="~/Image/con3.jpg" class="img-responsive size"></center>
            <h3 class="header">KK Center </h3>
            <p class="text-center">
                This center stated in Uttara. The no of guest capacity 1000. </br>
                <b class="header1">Booking for:</b></br>
                KK Center
            </p>
            <center><a href="#" class="btn btn-info btn-lg text-center">More Details</a></center></p>
        </div>


      

    </div>
  
   